wp-admin
wp-includes

!wp-content
wp-content/*

# plugins
!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/oak-labs-store
!wp-content/plugins/oak-labs-wp

.idea
/*.php
/*.html
/*.txt

# ignores - log files and databases
*.log
*.sql
*.sqlite
