wp-admin
wp-includes

!wp-content
wp-content/*

# plugins
!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/oak-labs-gutenberg
wp-content/plugins/oak-labs-gutenberg/npm/node_modules
!wp-content/plugins/oak-labs-gut2
!wp-content/plugins/oak-labs-store
!wp-content/plugins/oak-labs-wp
!wp-content/plugins/oak-starter

.idea
/*.php
/*.html
/*.txt

# ignores - log files and databases
*.log
*.sql
*.sqlite
